WA_PHONE_NUMBER=
OWNER_NUMBERS=
PREFIX=!

WA_AUTH_DIR=/storage/1FC3-111D/whatsapp-auth
BOT_DATA_DIR=/storage/1FC3-111D/discord

DISCORD_TOKEN=
DISCORD_CHANNEL_ID=
DISCORD_WA_TARGET=
DISCORD_ALLOWED_USER_IDS=

DEV_ALLOWED_COMMANDS=python
DEV_ALLOWED_SCRIPTS=
DEV_TIMEOUT_MS=15000
DEV_MAX_OUTPUT=12000
